@model Category 
@{
    Layout = "~/Views/Shared/_DahBoard.cshtml";
    ViewBag.Title = "Category_Management";
    ViewBag.Header = "Edit Category";
}

<form method="post" >
    <div class="mb-3">
        <input hidden asp-for="Category_Id"/> 
        <label for="exampleInputEmail1" class="form-label" asp-for="Category_Name">Category_Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" asp-for="Category_Name">
        <span asp-validation-for="Category_Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label" asp-for="Catogory_Description">Category_Description</label>
        <textarea id="myTextarea" class="form-control" name="Catogory_Description" asp-for="Catogory_Description"></textarea>

        <span asp-validation-for="Catogory_Description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

    <a type="button" class="btn btn-warning" asp-action="index">Back</a>
</form>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.tiny.cloud/1/dhbqz9g0i0t1xq14y0rtqhim7tyo8l2e0gvj360aiyne2h7x/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#myTextarea',
            readonly: false
        });
    </script>
}