@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form asp-controller="Account" asp-action="Logout" method="post">
                <input type="hidden" name="returnUrl" value="https://localhost:7094/Identity/Account/Login" />
                <button type="submit" class="btn btn-primary">Logout</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
