@model int

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            /* display: flex; */
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f4f4f4;
            margin: 0;
        }

        .confirmation-box {
            background-color: #4CAF50;
            color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            text-align: center;
            max-width: 400px;
            width: 100%;
        }

            .confirmation-box h1 {
                margin: 0;
                font-size: 24px;
            }

    </style>
</head>
<body>
    <div class="v1" >
    <div class="confirmation-box">
        <h1>Order Number 9 Has Been Successfully</h1>
    </div>
    </divclass>
</body>
</html>
