@model int

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            /* display: flex; */
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f4f4f4;
            margin: 0;
        }

        .confirmation-box {
            background-color: #4CAF50;
            color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            text-align: center;
            max-width: 400px;
            width: 100%;
        }

            .confirmation-box h1 {
                margin: 0;
                font-size: 24px;
            }

    </style>
</head>
<body>
  <div class="Container row pt-4"  > 
  <div class="col-12 text-center" >
      <h2> Thank_You </h2>
      <br/> 
      <img src="~/Img/stock-vector-thank-you-handwritten-isolated-on-white-background-hand-drawn-lettering-style-one-line-drawing-2267689749.jpg"  width="400" height="400" />
  </div>
        <div class="col-12 text-center">
            
            <br />
            <h2> Your Order Number @Model Has Been Successfully Placed</h2>
        </div>
    </div>
</body>
</html>
